@import url("https://fonts.googleapis.com/css2?family=Inter");

html {
    background: #000;
}

* {
    z-index: 2;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    color: #ffffff;
}

header {
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav a {
    color: white;
    margin: 10px;
    text-decoration: none;

    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;

    color: #ffffff;
}

header nav a:hover {
    color: #d99bff;
}

header img {
    width: 70px;
}

a {
    text-decoration: none;
}

div.main_screen {
    display: flex;
    margin: 0 7.4%;
    height: 372px;
}

div.main_screen div.Fh {
    z-index: 2;
    vertical-align: middle;
    width: 50%;

}

div.main_screen div.Sh {
    width: 50%;

}

div.main_screen div.Sh img {
    height: 100%;
}

div.Grad {
    position: absolute;
    z-index: 3;
    height: 50%;
    width: inherit;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000 100%);
}

div.main_screen h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 50px;
    padding-top: 100px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    color: #ffffff;
}

div.main_screen p {

    margin-top: 20px;

    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 34px;
    display: flex;
    align-items: center;
    padding-bottom: 45px;

    color: #ffffff;
}

div.main_screen a {
    display: inline-block;
    padding: 12px 60px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 12px;
}

div.main_screen a:nth-child(n) {
    box-sizing: border-box;
    background: #d99bff;
    color: #000000;
    border: 1px solid #000000;
}

div.main_screen a:nth-child(2n) {
    background: #000000;
    color: #d99bff;
    border: 1px solid #d99bff;
}

div.AboutMe {
    margin: 60px 80px;
}

div.AboutMe h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #d99bff;
}

div.AboutMe p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 18.8529px;
    line-height: 39px;
    /* or 207% */

    text-align: center;

    color: #ffffff;
}

div.Reasons {
    margin: 0px 80px;
    margin-top: 70px;
    text-align: center;
}

div.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: left;
}

div.container div.left {
    grid-column: 1 / 2;
}

div.reason {
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 50px;
}

div.reason img {
    float: left;
    margin-right: 20px;
    width: 50px;
}

div.container div.right {
    grid-column: 2 / 3;
    vertical-align: middle;
}

div.container div.right img {
    height: 58%;
    display: block;
    margin: 0 auto;
}

div.container div.right img:hover {
    box-shadow: 1px 1px 15px 10px #d99bff;
    border-radius: 15px;
}

div.Reasons h1 {
    display: inline-block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    color: #d99bff;
}

div.Achievements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    margin: 0 7.4%;
}

div.Achievement {
    display: block;
    margin: 0 60px;
    padding: 0px 0px 4.6% 0px;
}

div.Achievement h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 48.4788px;
    line-height: 59px;
    color: #d99bff;
    margin: 0;
    text-align: right;
}

div.Achievement p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 26.9327px;
    line-height: 33px;
    text-align: right;

    color: #ffffff;
}

div.Achievement hr {
    border: 1px solid #d99bff;
}

div.WhereAmI {
    text-align: center;
}

div.WhereAmI p {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 26.9327px;
    line-height: 33px;
    align-items: center;

    color: #FFFFFF;

}

div.WhereAmI h1 {
    display: inline-block;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #d99bff;
}

div.Blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 50px;
}

div.Block {
    padding-left:30px ;
    text-align: left;
    
    border-style: solid;
    border-color: #D99BFF;
}
div.Block:nth-child(n) {
    border-width: 0px 0px 1px 1px;
}
div.Block:nth-child(2n) {
    border-width: 1px 0px 0px 1px;
}